{% extends 'B1_Setup/LpBase.html' %}
{% block title %} | Home {% endblock title %}
{% block body %}
{% load static%}


<!--.........................................................................-->
<!--==== Main Container ==============================================//Start-->
<!--.........................................................................-->
	<div class="mainCon">

		<!--════ Heading Section ══════════════════════════════════════ //Start-->
			<div class="heading"> 
				<div> <img src=" {% static 'Java/Images/Logo/clientLogo.png' %}" style="width:175px;" alt=""> </div>
				<h2><span class="span1">┃</span><span class="span2">Sales Quotation</span> </h2>
			</div>
		<!--════ Heading Section ══════════════════════════════════════ //Start-->
			
    <!--════ TOP Section ══════════════════════════════════════ //Start-->
			<div class="top"> 
				<div class="boxA"> 
					<div class="inputField">
						<p>Quotation Reference:</p> 
						<input disabled type="text" id="qotRef" name="qotRef" placeholder="Quotation Number" style="width:180px; min-width:180px;"> 
					</div>
					<div class="inputField">
						<p>Quotation Date:</p> 
						<input onchange="handleChange()" type="date" id="qotDat" name="qotDat" style="width:180px; min-width:180px;">
					</div>
					<div class="inputField">
						<p>Customer ID:</p>
						<input disabled type="text" id="cusCode" name="cusCode" style="width:180px; min-width:180px;">
						<p1 onclick="showPop_A()" style="position:relative; left:-17px; bottom:2px; color:orange; font-weight:bold; cursor:pointer" >☰</p1>
					</div>
						<!--━━━━ Customer Code (Search Table Pop) ━━━━━━━━━━━━━━━━━━━━━-->
							<div  id="Pop_A"  onmouseleave="hidePop_A()" > 
								<div class="sDiv">
									<div class="Sear">
										<img onclick="fetchPop_A()" style="cursor:pointer " class="Icon iA" src="{% static "JAVA/Images/Icon/search.png" %}" alt="" width="15px" >
										<span  class="Icon iB">🞃 |</span>
										<input id="filter_A" onkeyup="filter_A()" type="text" placeholder="Search Customer" >
									</div>
									<div class="boxAA">
										<div onclick="cashCustomer()"> Cash Customer </div>
									</div>
									<div class="boxAB">
										<div><a href="/addCustomer" target="_blank"> +Customer </a></div>
									</div>
									<div onclick="hidePop_A()" class="closeBtn"> X </div>
								</div>
								<table id="table_A">
									<tr class="tableHead"> <th style="width:80px"> Customer #</th>  <th>Customer Name</th> </tr>
									<tbody id="popBody_A"> </tbody>
								</table>
							</div>
						<!--━━━━ Customer Code (Search Table Pop_A) ━━━━━━━━━━━━━━━━━━━-->

					<div class="inputField">     
						<p>Customer Name:</p> 
						<input type="text" id="cusName" name="cusName" disabled style="width:450px; min-width:300px;">
					</div>
				</div>
				<div class="boxB"> 
					<div> <img id="logoPic" src=" {% static 'JAVA/Images/Icon/page.jpg' %}"  alt=""> </div>
				</div>
			</div>
		<!--════ TOP Section ══════════════════════════════════════ //Start-->


		<!--════ Table Section ════════════════════════════════════════ //Start-->

			<!--==== Item Search Table ======================================== -->
					<!--━━━━ Customer Code (Search Table Pop) ━━━━━━━━━━━━━━━━━━━━━-->
						<div  id="Pop_B"  onmouseleave="hidePop_B()" > 
							<div class="sDiv">
								<div class="Sear">
									<img onclick="fetchPop_B()" style="cursor:pointer " class="Icon iA" src="{% static "JAVA/Images/Icon/search.png" %}" alt="" width="15px" >
									<span  class="Icon iB">🞃 |</span>
									<input id="filter_B" onkeyup="filter_B()" type="text" placeholder="Search Item" >
								</div>
								<div class="boxAA">
									<div onclick="cashCustomer()"> General Item</div>
								</div>
								<div class="boxAB">
									<div><a href="/addCustomer" target="_blank"> +Item </a></div>
								</div>
								<div onclick="hidePop_B()" class="closeBtn"> X </div>
							</div>
							<table id="table_B">
								<tr class="tableHead"> <th style="width:80px"> Item #</th>  <th>Item Name</th> </tr>
								<tbody id="popBody_B"> </tbody>
							</table>
						</div>
					<!--━━━━ Customer Code (Search Table Pop_A) ━━━━━━━━━━━━━━━━━━━-->
			<!--==== Item Search Table ======================================== -->
	

			<!--==== Table ==================================================== -->
				<div class="Table">
					<table id="myTable" >
						<!--== Table First Heading =========================================-->
							<tr  style="text-align:center; position:relative">
								<th style="text-align: center;"width="25px;"class="addRow" onclick="create_tr('tBody')"> ✚ </th>
								<th width="20px;" style="text-align:center;"> </th> 
								<th width="50px;">S.No</th>
								<th width="80px;">Item Code </th>
								<th >Item Description</th>
								<th width="80px;">Quantity</th>
								<th width="80px;">Price</th>
								<th width="80px;">Discunt</th>
								<th width="120px;">Total</th>
								<th style="display:none">ID</th>
							</tr>
						<!--== Table Second Heading (Hidden) for field name ===============-->
							<tr style="display:none">
								<th></th>
								<th></th>
								<th>sno</th>
								<th>itmCode</th>
								<th>desc</th>
								<th>qty</th>
								<th>price</th>
								<th>disc</th>
								<th>tot</th>
								<th style="display:none">id</th>
							</tr>
						<!--== Table Body (Input) to get value =============================-->
						<tbody id="tBody">
							<tr>
								<td><button class="remRow" onclick="remove_tr(this)"> 🗑 </button></td>
								<td style="text-align:center;"><button onclick="getRowAndCellIndex(this)" style="border-radius:5px; color:orange; font-size: 15px; font-weight:bold; padding: 0px 2px 2px 2px; cursor:pointer">☰</button></td>                     
								<td><input type="number" id="sno" class="input" value=1 disabled=true></td>
								<td><input  id="itmCod" type="text" disabled=true></td>
								<td ><input  id="desc" type="text" disabled=true></td>
								<td><input type="floatformat" step="0.01" class="input" value=0 onkeyup="getTot(this)" style="text-align:right"> </td>
								<td><input type="floatformat" step="0.01" class="input" value=0 onkeyup="getTot(this)" style="text-align:right"> </td>
								<td><input type="floatformat" step="0.01" class="input" value=0 onkeyup="getTot(this)" style="text-align:right"> </td>
								<td><input type="floatformat" step="0.01" class="input" value=0 disabled=true  style="text-align:right"> </td>
								<td><input type="number"  class="input" value=0 disabled=true  style="text-align:right; display:none" disabled> </td>
							</tr>
						</tbody>
					</table>
				</div>
			<!--==== Table ==================================================== -->

		<!--════ Table Section ════════════════════════════════════════ // End -->


    <!--════ TOP Section ══════════════════════════════════════ //Start-->
			<div class="total"> 
				<div class="boxA"> 
				</div>
				<div class="boxB"> 
					<div class="inputField">
						<p>Total Before Discount : AED</p> 
						<input type="floatformat" id="qotTBD" disabled=true> 
					</div>
					<div class="inputField">
						<p>Total After Discount : AED</p> 
						<input type="floatformat" id="qotTAD" disabled=true>
					</div>

					<div class="inputField">
						<p>Total Tax Amount : AED</p>
						<input type="floatformat" id="qotTax" disabled=true>
					</div>

					<div class="inputField">     
						<p>Total Including Tax : AED</p> 
						<input type="floatformat" id="qotTAT" disabled=true>
					</div>
				</div>
			</div>
			<br>
		<!--════ TOP Section ══════════════════════════════════════ //Start-->



		<!--════ Bottom Section ═══════════════════════════════════════ //Start-->
			<div class="Bottom">
				<div>
					<label> <span>Description </span> 
					<textarea type="text" id="comm" name="comm" class="tabA" id="addComm" rows="3"></textarea> </label>
				</div>
				<div>
					<label> <span>Invoice / Bill To </span> 
					<textarea type="text" id="billTo" name="billTo" class="tabA" id="addBill" rows="3"></textarea> </label>
				</div>
			</div>
		<!--════ Bottom Section ═══════════════════════════════════════ //Start-->


		<!--════ Sales Section ═══════════════════════════════════════ //Start-->
			<div class="Bottom">
				<div>
					<label> <span>Sales Person </span> 
					<input type="text" id="salPer" name="salPer"> </label>
				</div>
				<div>
					<label> <span>Ship To </span> 
					<textarea type="text" id="shipTo" name="shipTo" class="tabA" id="addShip" rows="3"></textarea> </label>
				</div>
			</div>
		<!--════ Sales Section ═══════════════════════════════════════ //Start-->


		<!--════ Save Section ══════════════════════════════════════ //Start-->
			<section id="savSec">
				<div><button  onclick="event.preventDefault()" class="hBtn" type="submit"> ⚠ HELP</button></div>
				<div><button onclick="canRecord()" id="cancelA" class="cBtn" type="submit"> ✂ CANCEL</button></div>
				<div><button onclick="addRecord()" id="addRec"  class="addRec sBtn" type="submit" disabled>✚ Save</button></div>
			</section>
		<!--════ Save Section ══════════════════════════════════════ // End -->


	</div>
	<br>
<!--==== Main Container ==============================================// End -->



<!--.........................................................................-->
<!--==== PAGE JS =====================================================//Start-->
  <script>

    //.... Get Data from Context Process and stored in Variable ...............
      let basInfo = {{basInfo|safe}}
    //.... Get Data from Context Process and stored in Variable ...............


		//▒▒▒▒▒▒ ADD REMOVE RESET TABLE ROWS ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

			//■■■■■ ADD NEW ROW IN THE TABLE ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			function create_tr(table_id) {
				var tBody = document.getElementById(table_id),
					last_tr   = tBody.lastElementChild,
					tr_clone   = last_tr.cloneNode(true);
				tBody.append(tr_clone);

				//console.log(tBody.lastElementChild)
				clean_last_tr(tBody.lastElementChild);
				resetNo ()
			}

			//---- CLEAN LAST ROW ------------------------------------------------------
			function clean_last_tr(lastTr) {
				let children = lastTr.children;
				children = Array.isArray(children) ? children : Object.values(children);

				children.forEach(x=>{
						if(x !== lastTr.lastElementChild){
								x.lastElementChild.value = "";
						}
				});
			}

			//---- REMOVE LAST ROW -----------------------------------------------------
			function remove_tr(This) {
				if(This.closest('tbody').childElementCount == 1) {
						alert("You Don't have Permission to Delete This ?");
				}else{
						This.closest('tr').remove();
						resetNo ('No')
				}
			}
			
			//---- RAESET NO ----------------------------------------------------------
			function resetNo (Numb){
				var lastRow = tBody.rows[ tBody.rows.length - 1 ] //get the last row of the table
				var addColNo = parseInt(lastRow.cells[2].getElementsByTagName('input')[0].value); //get the value of the last row 1st cell
				var sno = addColNo + 1 //add 1 to Last Column Value
				var addSO = lastRow.cells[2].getElementsByTagName('input')[0].value = sno;
				//---Loop Throgh Table length to reset number from begning---------------
				
				var a = 0
				for (var j=0; j<tBody.rows.length; j++) {
						var x = document.getElementById("tBody").rows[a].getElementsByTagName('input')[0].value = a+1;
						a=a+1
				} 

				if (Numb=="No"){
				}else{
					//---- Give the new line Specific Value----------------------------------
					var addQty = parseInt(lastRow.cells[5].getElementsByTagName('input')[0].value = 0); //add Value to new row "Quantity" 
					var addPri = parseInt(lastRow.cells[6].getElementsByTagName('input')[0].value = 0); //add Value to new row "Price" 
					var addDis = parseInt(lastRow.cells[7].getElementsByTagName('input')[0].value = 0); //add Value to new row "Price" 
					var addTot = parseInt(lastRow.cells[8].getElementsByTagName('input')[0].value = 0); //add Value to new row "Price" 
				}
			}

		//▒▒▒▒▒▒ ADD REMOVE RESET TABLE ROWS ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


		//▒▒▒▒▒▒ GET TOTAL OF THE ITEMS ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

			//■■■■■ GET SUM OF THE ITEM SOLD ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
			function getTot(abc) {
				const ab = (abc.closest('tr').rowIndex)

				var table = document.getElementById("myTable")

				var qty = parseFloat(table.rows[ab].cells[5].getElementsByTagName('input')[0].value)
				var price = parseFloat(table.rows[ab].cells[6].getElementsByTagName('input')[0].value)
				var disc = parseFloat(table.rows[ab].cells[7].getElementsByTagName('input')[0].value)

				var tot = (qty * price) - disc
				tot = parseFloat(table.rows[ab].cells[8].getElementsByTagName('input')[0].value =  tot)
				//--console.log(tot)
				getSum()
			}
		

			//■■■■■ GET SUM OF THE TOTAL COLUMN ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ 
			function getSum() {
				// Get sum of a table column --(temporary here)----------------------
				// ==================================================================
				var table = document.getElementById("myTable"), sumADis = 0; sumDis = 0;
				for(var i = 2; i < table.rows.length; i++){
						sumADis = sumADis + parseFloat(table.rows[i].cells[8].getElementsByTagName('input')[0].value);
						sumDis = sumDis + parseFloat(table.rows[i].cells[7].getElementsByTagName('input')[0].value);
				}
			
				document.getElementById("qotTAD").value = sumADis.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2,});
				var qotTBD = sumADis + sumDis
				var VAT = sumADis*0.05
				var GTot = sumADis + VAT
				document.getElementById("qotTBD").value = qotTBD.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2,});
				document.getElementById("qotTax").value = VAT.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2,});
				document.getElementById("qotTAT").value =GTot.toLocaleString('en', {minimumFractionDigits: 2, maximumFractionDigits: 2,});
			}

		//▒▒▒▒▒▒ GET TOTAL OF THE ITEMS ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


		//▒▒▒▒▒▒ ON DATE CHANGE GET QUOTATION NO ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

			//■■■■■ On Date Change ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
			async function handleChange() {
				var inputElement = document.getElementById("qotDat");
				var value = inputElement.value;
				
				var year = value.substring(0, 4);
				var month = value.substring(5, 7);

				const response = await fetch(`${basInfo.IP[0]}/sQuotAdd/${month}`)
				const data = await response.json()

				value = (data.maxValue)
				console.log(value)

				let abc = "2023"+month+value
				document.querySelector('#qotRef').value = abc;

			}



		//▒▒▒▒▒▒ ON DATE CHANGE GET QUOTATION NO ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

	</script>


<!--.........................................................................-->
<!--==== PAGE CSS ====================================================//Start-->
	<style>

		/* ⚊⚊⚊⚊ General INPUT ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			input {
					border: none;
					box-sizing: border-box;
					border-bottom: 1px solid rgb(0, 21, 255);
					box-shadow: 1px 1px 4px #EBEBEB;
					font-size: 13px;
					padding: 2px 0 2px 5px;
			}
			input:focus { 
					outline: none; 
					background-color:#e8f0f5;
			}
		/* ⚊⚊⚊⚊ General INPUT ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Main Container ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.mainCon { 
					width: 95%;
					min-width: 700px;
					margin:3%; 
					padding: 1% 3%; 
					background-color: #fff;  
					border-radius: 5px;
					border-top: 10px solid rgb(91, 80, 104); 
					border-bottom: 1px solid rgb(91, 80, 104); 
					box-shadow: 0 1px 5px rgba(0,0,0,0.15); 
			}
		/* ⚊⚊⚊⚊ Main Container ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Heading Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.heading {
					display:flex; 
					flex-wrap:wrap; 
					justify-content: space-between; 
					width:100%; 
					margin-bottom: 20px;
			} 
			.heading .span1 {
					color:orange;
			}
			.heading .span2 {
					font-weight:300;
					letter-spacing: 3px;
			}
		/* ⚊⚊⚊⚊ Heading Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Top Section ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.top {
					position: relative;
					display:grid;
					grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
					grid-gap: 20px;
					align-items: center; 
					margin-bottom: 10px; 
			}
			.top .boxB{
					justify-self:end;
			}
			.top .inputField{
					margin-bottom: 7px;
					display:flex;
					justify-content: start;
			}
			.top .inputField p{
					min-width: 170px;
			}
			.top .boxB img{
				position:absolute;
				width:100px; 
				border-radius:10px;
				top:0;
				right:0;
				transition: transform 0.3s;
				cursor:pointer;
			}
			.top .boxB img:hover{
				transform: scale(1.05);
			}
		/* ⚊⚊⚊⚊ Top Section ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Table Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.Table {
				margin-bottom: 20px;
				max-height:250px;
				overflow:auto;
				border-bottom: 1px solid gray;
				border-radius: 2px;
			}
			#myTable {
				font-size: 14px;
				background: #FFFDFF;
				border-collapse: collapse;
				width: 100%;    
			}
			#myTable th {
				border-bottom:2px solid #FFE485;
				background-image:linear-gradient(0deg, #354A70 15%,#8DC0EB);
				color:white;
				position:sticky;
				top:0px;
				font-weight:500;
				padding:3px 0px;
				border: 1px solid rgb(5, 120, 209);
			}
			#myTable td, tr {
				font-weight:500;
				border: 1px solid rgb(5, 120, 209);
			}
			#myTable th:first-child {
				position:-webkit-sticky;
				position: sticky;
				left: -15px;
				background:linear-gradient(0deg, #30569c 15%,#63b5f8);
				z-index: 10;
				color:#FFE485;
			}
			#myTable input {
				border: none;
				box-sizing: border-box;
				box-shadow: 1px 1px 4px #EBEBEB;
				font-size: 13px;
				margin: 3px 0;
				padding: 2px 0;
				width: 100%;
				resize: vertical;
			}
			#sno{
					text-align: center;
			}
			.addRow{
				cursor:pointer;
			}
			.remRow{
				color: #fc6f03;
				font-size: 18px;
				font-weight: bold;
				padding-left: 6px;
			}
		/* ⚊⚊⚊⚊ Table Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */


		/* ⚊⚊⚊⚊ Total Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.total {
				position: relative;
				display:grid;
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
				grid-gap: 20px;
				align-items: center; 
				margin-bottom: 10px; 
				justify-items: end;
			}
			.total input{
				width:140px; 
				min-width:140px;
				text-align:right;
			}
			.toal .boxB{
				justify-self:end;
			}
			.total .inputField{
				margin-bottom: 7px;
				display:flex;
				justify-content: start;
			}
			.total .inputField p{
				min-width: 205px;
			}
			.total .boxB img{
				position:absolute;
				width:100px; 
				border-radius:10px;
				top:0;
				right:0;
				transition: transform 0.3s;
				cursor:pointer;
			}
			.total .boxB img:hover{
				transform: scale(1.05);
			}
		/* ⚊⚊⚊⚊ Total Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Bottom Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.Bottom {
				display:flex; 
				flex-wrap: wrap;
				justify-content: space-between;
				width:100%; 
				margin-bottom: 30px;
			}
			.Bottom label{
				width: 340px;
				font-size: 14px;
				font-weight: 400;
				float: right;
				padding-top: 8px;
				padding-right: 5px;
				color: rgb(115, 114, 114);
			}
			textarea {
				width: 300px;	
				font-size: 13px;
				min-width: 340px;
				max-width: 340px;
				padding: 3px 10px;
				margin: 4px 0;
				box-sizing: border-box;
				border: solid 1px rgb(183, 182, 182);
				border-radius: 3px;
			}
		/* ⚊⚊⚊⚊ Bottom Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Sales Person Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			.salPerson {
					margin-bottom: 30px;
			}
			.salPerson label > span{
					width: 140px;
					float: left;
			}
			.salPerson #cusCode{
					min-width: 210px;
			}
		/* ⚊⚊⚊⚊ Sales Person Section  ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

		/* ⚊⚊⚊⚊ Save Section ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */
			#savSec {
				display: flex;
				justify-content:flex-end;
				flex-wrap: wrap;
				padding: 5px 0px 0px 40px;
			}
			.sBtn, .hBtn, .cBtn{
				box-shadow: 4px 6px 9px -4px rgba(0,0,0,0.4);
				background-color: #AAAAAA;
				display: inline-block;
				cursor: pointer;
				color: #FFFFFF;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 14px;
				padding: 4px 18px;
				margin: 5px 10px;
				text-decoration: none;
				text-transform: uppercase;
			}
			.cBtn{
				background-color: #1DA1F2;
			}
			.hBtn{
				background-color: #3B5998;
			}
			.addColor{
				background-color: #2CBBBB;
			}
			.cusTab3 {
				display: flex;
				justify-content:space-between;
				flex-wrap: wrap;
			}
		/* ⚊⚊⚊⚊ Save Section ⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊⚊ */

	</style>




<!--.........................................................................-->
<!--==== Customer Deatil Popup Window ================================//Start-->
<!--.........................................................................-->
	<script>
		//--==== Fetch Item Data to Select ================================= //Start-->
			let list_A=[]; // Declare a global variable to store the data
			
			async function fetchPop_A(){
				const response = await fetch(`${basInfo.IP[0]}/cusListURL`)
				const data = await response.json()
				list_A = data  //when call showRecord() function data will save in finalData
				Table_A(list_A)
			}
		//--==== Fetch Item Data to Select ================================= // End -->


		//------ Render Item Table ----------------------------------------- //Start-->
			function Table_A(dataList){
				//console.log(dataList)
				var table = document.getElementById('popBody_A').innerHTML=` ${dataList.map(temList).join('')}`
				function temList (e){
					return`<tr">
											<td style="color:#0464d1">${e.cusCode} </td>
											<td>${e.cusName} </td>
									</tr>`
				}
				//-- on click select the row -------------------------
				var cells = document.querySelectorAll(`#popBody_A td`);
				for (var j = 0; j < cells.length; j++) {
					var cell_A1 = cells[j];
					cell_A1.onclick =  async function () {
						var rowId = this.parentNode.rowIndex-1;
						var rowSelected = document.querySelectorAll(`#popBody_A tr`)[rowId];
						clickVal1 = rowSelected.cells[0].innerHTML;
						let cID =clickVal1.replace(/\s/g, '');

						clickVal2 = rowSelected.cells[1].innerHTML;
						let cName =clickVal2.replace(/\s/g, '');

						document.querySelector('#cusCode').value = cID;
						document.querySelector('#cusName').value = clickVal2;

						
						hidePop_A()
						//addRefresh('newSelection')
						//savDisable('No')
					}
				}
			}
		//------ Render Item Table ----------------------------------------- // End -->


		//------ Filter Records-------------------------------------------- //Start-->
			function filter_A(input){tableInside_A()}
			function tableInside_A(){
				let filter = document.querySelector('#filter_A').value.toUpperCase(); //capturing input value

                if (filter.length >= 3) {
					let abc = list_A.filter(x => x.cusName.toLowerCase().includes(filter.toLowerCase()))
					Table_A(abc)
				}else if (filter == '*'){
					Table_A(list_A)
				}
				else {
					Table_A(list_A)
				}
			}

			function remEmpAfterSave(){
				const filteredData = list_A.filter((employee) => employee.cusCode !== cuslCode);
				list_A = filteredData
				Table_A(list_A)
			}
		//------ Filter Records --------------------------------------------// End -->


		//-------Temporary Item Entry as General Item ------------------ //Start-->
			function genItem(){
				// Get the table row and cell elements
				var tableA = document.getElementById('myTable')                      
				ccd = tableA.rows[clickRow].cells[clickCell+2].getElementsByTagName('input')[0].value = '10000000'
				ccd = tableA.rows[clickRow].cells[clickCell+3].getElementsByTagName('input')[0].value = 'General Item'
				hidePop_A()
			}
		//-------Temporary Customer Entry as Cash Customer ------------- // End -->


		//-------Run function On Click to "show the list Div"........... //Start-->
			function showPop_A(){ 
				var abbc = document.getElementById("Pop_A");
				abbc.classList.toggle("hide"); 
				abbc.style.display = "block";
			}

			function hidePop_A(){
				var abbc = document.getElementById("Pop_A");
				abbc.style.display = "none"; 
			}

			function custHide(){
				var abbc = document.getElementById("conCol");
				abbc.style.display = "none"; 
			}
		//-------Run function On Click to "show the list Div"........... // End -->
	
		//-------Temporary Customer Entry as Cash Customer ------------- //Start-->
			function cashCustomer(){
				document.querySelector('#cusCode').value = "2310101"
				document.querySelector('#cusName').value = "Cash Customer";
				hidePop_A()
				//savDisable('No')  //to active Save option
			}
		//-------Temporary Customer Entry as Cash Customer ------------- // End -->
	
	
	</script>


	<style>
		/* Customer Search Table ------------------------------------------------- */
			#Pop_A {
				position:absolute;
				margin: 0px 0 0 127px;
				display:none;
				width:500px; 
				min-height:150px;
				max-height:300px; 
				background:#fcffff; 
				border: 1px solid #3B5998;
				box-shadow: 4px 6px 9px -4px rgba(0,0,0,0.4);
				border-radius: 10px;
				overflow-y: auto;
				z-index:10; 
			}
			#Pop_A .sDiv{
				position:sticky;
				top:0;
				display:flex; 
				justify-content:start;
				align-items: center;
				background:#00324A;
				min-height:30px;
			}
			.sDiv .Sear {
				position:relative;
				margin-left: 5px;
				left: 2px;
			}
			.sDiv .Sear .Icon {
				position:absolute; 
				color:gray;
			}
			.sDiv .Sear .Icon.iA{
				left:7px;
				top: 4px;
			}
			.sDiv .Sear .Icon.iB{
				font-size: 10px;
				top: 2px;
				left:25px;
			}
			.sDiv .Sear input{
				border-radius: 25px;
				min-width:250px;
				height: 20px;
				margin-left: 5px;
				padding-left: 43px;
				font-size: 13px;
				box-shadow: 0px 0px 0px #EBEBEB;
				border: 1px solid rgb(209, 207, 207);  
			}
			.sDiv .boxAA{
				background:#ffe09e;
				padding: 3px 10px;
				margin: 0 5px;
				font-size: 12px;
				border-radius: 25px;
				cursor:pointer;
			}
			.sDiv .boxAA:hover{
				background:#ffc549;
			}
			.sDiv .boxAB{
				right: 20px;
				background:#acd3ff;
				padding: 3px 10px;
				font-size: 12px;
				border-radius: 25px;
				cursor:pointer;
			}
			.sDiv .boxAB:hover{
				background:#5da8fe;
			}
			.sDiv .closeBtn{
				position:absolute; 
				right:2px; top:2px; 
				color:red; 
				background:lightgray; 
				border-radius:50%; 
				width:20px; height:20px; 
				text-align:center;
				cursor:pointer;"
			}
		/* Table ------------------------------------------------------------------*/
			#table_A {
				margin:0;
				font-size: 11px;        
				border-collapse: collapse;
				width: 100%;
			}
			#table_A .tableHead {
				background: rgb(227, 236, 255);
				position:sticky;
				border: 1px solid #30569c;
				box-shadow: 0px 6px 2px -4px rgba(0,0,0,0.4);
				top:28px;
				z-index: 100;
			}
			#table_A td, th {
				text-align: left;
				padding: 3px 8px;
				background: none;
				border: 1px dotted rgb(149, 202, 243);
				border-collapse: collapse;
			}
		/* Customer Search Table --------------------------------------------------*/
	</style>

<!--==== Customer Deatil Popup Window ================================// End -->



<!--.........................................................................-->
<!--==== Item Deatil Popup Window ================================//Start-->
<!--.........................................................................-->
	<script>
		//--==== Fetch Item Data to Select ================================= //Start-->
			let list_B=[]; // Declare a global variable to store the data
			
			async function fetchPop_B(){
				const response = await fetch(`${basInfo.IP[0]}/itmSelInfo`)
				const data = await response.json()
				list_B = data  //when call showRecord() function data will save in finalData
				Table_B(list_B)
				console.log(list_B)
			}
		//--==== Fetch Item Data to Select ================================= // End -->


		//------ Render Item Table ----------------------------------------- //Start-->
			function Table_B(dataList){
				//console.log(dataList)
				var table = document.getElementById('popBody_B').innerHTML=` ${dataList.map(temList).join('')}`
				function temList (e){
					return`<tr">
										<td style="color:#0464d1">${e.itmCode} </td>
										<td>${e.itmName} </td>
									</tr>`
				}
				//-- on click select the row -------------------------
				var cells = document.querySelectorAll(`#popBody_B td`);
				for (var j = 0; j < cells.length; j++) {
					var cell_A1 = cells[j];
					cell_A1.onclick =  async function () {
									var rowId = this.parentNode.rowIndex-1;
									var rowSelected = document.querySelectorAll(`#popBody_B tr`)[rowId];
									
									iID = rowSelected.cells[0].innerHTML;
									iName = rowSelected.cells[1].innerHTML;

									// Get the table row and cell elements
									var tableA = document.getElementById('myTable')                      
									ccd = tableA.rows[clickRow].cells[clickCell+2].getElementsByTagName('input')[0].value = iID
									ccd = tableA.rows[clickRow].cells[clickCell+3].getElementsByTagName('input')[0].value = iName

						
						hidePop_B()
						//addRefresh('newSelection')
						//savDisable('No')
					}
				}
			}
		//------ Render Item Table ----------------------------------------- // End -->


    //------ Get Clicked Row and Cell Index ---------------------------- //Start-->
			var clickRow
			var clickCell
			function getRowAndCellIndex(button) {
				showPop_B()
			
				var row = button.parentNode.parentNode; // Get the row index
				var rowIndex = row.rowIndex;          
				var cell = button.parentNode; // Get the cell index
				var cellIndex = cell.cellIndex;

				clickRow = rowIndex
				clickCell = cellIndex
			}
		//------ Get Clicked Row and Cell Index ---------------------------- // End -->


		//------ Filter Records-------------------------------------------- //Start-->
			function filter_B(input){tableInside_B()}
			function tableInside_B(){
				let filter = document.querySelector('#filter_B').value.toUpperCase(); //capturing input value

				if (filter.length >= 3) {
					let abc = list_B.filter(x => x.itmName.toLowerCase().includes(filter.toLowerCase()))
					Table_B(abc)
				}else if (filter == '*'){
					Table_B(list_B)
				}
				else {
					Table_B(list_B)
				}
			}

			function remEmpAfterSave(){
				const filteredData = list_B.filter((employee) => employee.cusCode !== cuslCode);
				list_B = filteredData
				Table_B(list_B)
			}
		//------ Filter Records --------------------------------------------// End -->


		//-------Temporary Item Entry as General Item ------------------ //Start-->
			function genItem(){
				// Get the table row and cell elements
				var tableB = document.getElementById('myTable')                      
				ccd = tableB.rows[clickRow].cells[clickCell+2].getElementsByTagName('input')[0].value = '10000000'
				ccd = tableB.rows[clickRow].cells[clickCell+3].getElementsByTagName('input')[0].value = 'General Item'
				hidePop_B()
			}
		//-------Temporary Customer Entry as Cash Customer ------------- // End -->


		//-------Run function On Click to "show the list Div"........... //Start-->
			function showPop_B(){ 
				var abbc = document.getElementById("Pop_B");
				abbc.classList.toggle("hide"); 
				abbc.style.display = "block";
			}

			function hidePop_B(){
				var abbc = document.getElementById("Pop_B");
				abbc.style.display = "none"; 
			}

			function custHide(){
				var abbc = document.getElementById("conCol");
				abbc.style.display = "none"; 
			}
		//-------Run function On Click to "show the list Div"........... // End -->


		//-------Temporary Customer Entry as Cash Customer ------------- //Start-->
			function cashCustomer(){
				document.querySelector('#cusCode').value = "2310101"
				document.querySelector('#cusName').value = "Cash Customer";
				hidePop_B()
				//savDisable('No')  //to active Save option
			}
		//-------Temporary Customer Entry as Cash Customer ------------- // End -->


	</script>


	<style>
		/* Customer Search Table ------------------------------------------------- */
			#Pop_B {
				position:absolute;
				margin: 0px 0 0 127px;
				display:none;
				width:500px; 
				min-height:150px;
				max-height:300px; 
				background:#fcffff; 
				border: 1px solid #3B5998;
				box-shadow: 4px 6px 9px -4px rgba(0,0,0,0.4);
				border-radius: 10px;
				overflow-y: auto;
				z-index:10; 
			}
			#Pop_B .sDiv{
				position:sticky;
				top:0;
				display:flex; 
				justify-content:start;
				align-items: center;
				background:#00324A;
				min-height:30px;

			}
			.sDiv .Sear {
				position:relative;
				margin-left: 5px;
				left: 2px;
			}
			.sDiv .Sear .Icon {
				position:absolute; 
				color:gray;
			}
			.sDiv .Sear .Icon.iA{
				left:7px;
				top: 4px;
			}
			.sDiv .Sear .Icon.iB{
				font-size: 10px;
				top: 2px;
				left:25px;
			}
			.sDiv .Sear input{
				border-radius: 25px;
				min-width:250px;
				height: 20px;
				margin-left: 5px;
				padding-left: 43px;
				font-size: 13px;
				box-shadow: 0px 0px 0px #EBEBEB;
				border: 1px solid rgb(209, 207, 207);  
			}
			.sDiv .boxAA{
				background:#ffe09e;
				padding: 3px 10px;
				margin: 0 5px;
				font-size: 12px;
				border-radius: 25px;
				cursor:pointer;
			}
			.sDiv .boxAA:hover{
				background:#ffc549;
			}
			.sDiv .boxAB{
				right: 20px;
				background:#acd3ff;
				padding: 3px 10px;
				font-size: 12px;
				border-radius: 25px;
				cursor:pointer;
			}
			.sDiv .boxAB:hover{
				background:#5da8fe;
			}
			.sDiv .closeBtn{
				position:absolute; 
				right:2px; top:2px; 
				color:red; 
				background:lightgray; 
				border-radius:50%; 
				width:20px; height:20px; 
				text-align:center;
				cursor:pointer;"
			}
		/* Table ------------------------------------------------------------------*/
			#table_B {
				margin:0;
				font-size: 11px;        
				border-collapse: collapse;
				width: 100%;
			}
			#table_B .tableHead {
				background: rgb(227, 236, 255);
				position:sticky;
				border: 1px solid #30569c;
				box-shadow: 0px 6px 2px -4px rgba(0,0,0,0.4);
				top:28px;
				z-index: 100;
			}
			#table_B td, th {
				text-align: left;
				padding: 3px 8px;
				background: none;
				border: 1px dotted rgb(149, 202, 243);
				border-collapse: collapse;
			}
		/* Customer Search Table --------------------------------------------------*/
	</style>

<!--==== Item Deatil Popup Window ================================// End -->



{% endblock body %}