{% extends 'B1_Setup/LpBase.html' %}
{% block title %} | Home {% endblock title %}
{% block body %}
{% load static%}

<!--════ Top Section ═══════════════════════════════════════ //Start-->
{% comment %} 
<h1> Country <h1>

<select id="selCountry">
    <option value="" selected disabled hidden style="background:#C8C8C8;color:white;">Select Country</option>
</select>

<script>
  var countries = ['United Arab Emirates', 'Saudi Arabia', 'Oman', 'Qtar', 'Kuwait'];
  var selectElement = document.getElementById('selCountry');
  for (var i = 0; i < countries.length; i++) {
    var option = document.createElement('option');
    option.value = countries[i];
    option.text = countries[i];
    selectElement.appendChild(option);
  }
</script> 

{% endcomment %}



<h1 id="countryHeading">Country</h1>

<select id="selCountry">
  <option value="" selected disabled hidden style="background:#C8C8C8;color:white;">Select Country</option>
</select>

<script>
  var countries = ['United Arab Emirates', 'Saudi Arabia', 'Oman', 'Qtar', 'Kuwait'];
  var selectElement = document.getElementById('selCountry');
  var countryHeading = document.getElementById('countryHeading');

  selectElement.addEventListener('change', function() {
    var selectedCountry = this.value;
    countryHeading.textContent = selectedCountry;
  });

  for (var i = 0; i < countries.length; i++) {
    var option = document.createElement('option');
    option.value = countries[i];
    option.text = countries[i];
    selectElement.appendChild(option);
  }
</script>


{% endblock body %}