{% extends 'B1_Setup/LpBase.html' %}
{% block title %} | Home {% endblock title %}
{% block body %}
{% load static%}


<div style="margin:50px;"> 
    <button class="sBtn"> <h1 onclick="creatFolder()"> Sales Module Setup </h1> </button>
</div>




<script>

    //.... Get Data from Context Process and stored in Variable ...............
        let basInfo = {{basInfo|safe}}
        //const myCom = document.querySelector(".basCo").innerHTML = basInfo.Company[0]
    //.... Get Data from Context Process and stored in Variable ...............
    

    //■■■■■ SAVE RECORD IN EXCEL FILE ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
    const creatFolder = async (data) => {
        data = basInfo
        try {
            //console.log(data)
            const response = await fetch(`${basInfo.IP[0]}/a1_salSetupURL`, {
                method: 'POST',
                body: JSON.stringify(data), 
                headers: {"Content-type":"application/json; charset=UTF-8"},
            })
            const post = await response.json();
            alert("Setup Complited Successfully...!");
        } catch (e) {  
            alert("There is an Issue while doing Setup..")
        }
    }

</script>


<style>

    .sBtn{
        /* box-shadow: inset 0px 1px 0px 0px #45D6D6;
           border: 1px solid #27A0A0;
           background-color: #2CBBBB; */
        box-shadow: 4px 6px 9px -4px rgba(0,0,0,0.4);
        background-color: #2CBBBB;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        padding: 4px 18px;
        margin: 5px 10px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .sBtn:hover{
        background:#1b7e7e;
        box-shadow: 4px 6px 2px -4px rgba(0,0,0,0.4);
    }

</style>


{% endblock body %}