{% load static%}
{% load humanize %}  <!--for Number formating-->

<!--  <pdf:nextpage> -->
<html>
  <head>
      <meta charset='utf-8'>
  </head>
  <body margin-left="30px;">

      <style>
          #myTable {
              border: 0.5px solid lightgray;
              padding: 5px 5px 0px 5px;
          }
      </style>

      <br><br>

      <!--=== INVOICE HEADING============================================-->
      <table style="width:100%;">
          <tr>
              <th style="text-align:left;">  <img class="imga2" src="static/Java/Images/Logo/clientLogo.png" width="200"  alt="graph"></th>
              <th style=" text-align:right; font-size:23px; font-weight:bold; color:#005596"><span style="color:orange;">|</span> Sales Quotation </th>
          </tr>
          <tr><th style="color:white; font-size:25px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th id="qotRef" style=" text-align:left; font-size:12px">  Reference Number  <br> <span style="font-weight:100"> {{ quotBasi.0.qotRef }}  </span></th>
              <th style=" text-align:right; font-size:12px;">  Quotaton Date <br>  <span style="font-weight:100"> {{quotBasi.0.qotDat}} </span></th>
          </tr>
          <tr><th style="color:white; font-size:15px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th style=" text-align:left; font-size:12px">  Customer Name <br> <span style="font-weight:100"> {{quotBasi.0.cusName}} </span></th>
              <th style=" text-align:right; font-size:12px;">  </th>
          </tr>
      </table>

      <br><br>
      <div style=" text-align:left; font-size:15px; font-weight:bold; color:#005596; border-bottom:1px solid gray;"> Sales Quotation Items </div>
      <br>

      <!--===ITEM TABLE 1 to 15 ========================================-->
      <table id="myTable" style="text-align:right; border-bottom:1px solid gray">
        <tbody>
          <tr style="background:lightgray; font-size:12px; font-weight:bold;">
            <th style="text-align:left">S.No.</th>
            <th colspan="2" style="text-align:left" >Item Code</th> 
            <th colspan="4" style="text-align:left">Description</th>
            <th colspan="1" style="text-align:right">Qty</th>
            <th colspan="2" style="text-align:right">Price</th>
            <th colspan="2" style="text-align:right">Discount</th>
            <th colspan="2" style="text-align:right">Total</th>
          </tr>
          {% for obj in quotAddi %}
            {% if forloop.counter <= 15 %}
              <tr>
                <td style="text-align:left">{{ obj.sno }}<br></td>
                <td colspan="2" style="text-align:left">{{ obj.itmCod }}</td>
                <td colspan="4" style="text-align:left">{{ obj.desc }}</td>
                <td colspan="1">{{ obj.qty|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.price|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.disc|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.tot|floatformat:0|intcomma }}</td> 
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      

      <!--===ITEM TABLE 16 to 30 ========================================-->
      {% if quotAddi|length > 15 %}
        <pdf:nextpage>
        <br><br><br><br>
        <table style="width:100%;">
          <tr>
              <th style="text-align:left;">  <img class="imga2" src="static/Java/Images/Logo/clientLogo.png" width="200"  alt="graph"></th>
              <th style=" text-align:right; font-size:23px; font-weight:bold; color:#005596"><span style="color:orange;">|</span> Sales Quotation </th>
          </tr>
          <tr><th style="color:white; font-size:25px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th id="qotRef" style=" text-align:left; font-size:12px">  Reference Number  <br> <span style="font-weight:100"> {{ quotBasi.0.qotRef }}  </span></th>
              <th style=" text-align:right; font-size:12px;">  Quotaton Date <br>  <span style="font-weight:100"> {{quotBasi.0.qotDat}} </span></th>
          </tr>
          <tr><th style="color:white; font-size:15px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th style=" text-align:left; font-size:12px">  Customer Name <br> <span style="font-weight:100"> {{quotBasi.0.cusName}} </span></th>
              <th style=" text-align:right; font-size:12px;">  </th>
          </tr>
        </table>
        <br><br>
        <div style=" text-align:left; font-size:15px; font-weight:bold; color:#005596; border-bottom:1px solid gray;"> Sales Quotation Items </div>
        <br>

          <table id="myTable" style="text-align:right; border-bottom:1px solid gray">
            <tr style="background:lightgray; font-size:12px; font-weight:bold;">
              <th style="text-align:left">S.No.</th>
              <th colspan="2" style="text-align:left" >Item Code</th> 
              <th colspan="4" style="text-align:left">Description</th>
              <th colspan="1" style="text-align:right">Qty</th>
              <th colspan="2" style="text-align:right">Price</th>
              <th colspan="2" style="text-align:right">Discount</th>
              <th colspan="2" style="text-align:right">Total</th>
            </tr>
            {% for obj in quotAddi %}
              {% if forloop.counter >= 15 and forloop.counter <= 30 %}
                <tr>
                  <td style="text-align:left">{{ obj.sno }}<br></td>
                  <td colspan="2" style="text-align:left">{{ obj.itmCod }}</td>
                  <td colspan="4" style="text-align:left">{{ obj.desc }}</td>
                  <td colspan="1">{{ obj.qty|floatformat:0|intcomma }}</td>
                  <td colspan="2">{{ obj.price|floatformat:0|intcomma }}</td>
                  <td colspan="2">{{ obj.disc|floatformat:0|intcomma }}</td>
                  <td colspan="2">{{ obj.tot|floatformat:0|intcomma }}</td> 
                </tr>
              {% endif %}
            {% endfor %}
          </table>
          <span>Page - </span>
      {% endif %}


      <!--===ITEM TABLE 16 to 30 ========================================-->
      {% if quotAddi|length > 30 %}
        <pdf:nextpage>
        <br><br><br><br>
        <table style="width:100%;">
          <tr>
              <th style="text-align:left;">  <img class="imga2" src="static/Java/Images/Logo/clientLogo.png" width="200"  alt="graph"></th>
              <th style=" text-align:right; font-size:23px; font-weight:bold; color:#005596"><span style="color:orange;">|</span> Sales Quotation </th>
          </tr>
          <tr><th style="color:white; font-size:25px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th id="qotRef" style=" text-align:left; font-size:12px">  Reference Number  <br> <span style="font-weight:100"> {{ quotBasi.0.qotRef }}  </span></th>
              <th style=" text-align:right; font-size:12px;">  Quotaton Date <br>  <span style="font-weight:100"> {{quotBasi.0.qotDat}} </span></th>
          </tr>
          <tr><th style="color:white; font-size:15px;">.</th><th style="color:white">.</th></tr>
          <tr>
              <th style=" text-align:left; font-size:12px">  Customer Name <br> <span style="font-weight:100"> {{quotBasi.0.cusName}} </span></th>
              <th style=" text-align:right; font-size:12px;">  </th>
          </tr>
        </table>
        <br><br>
        <div style=" text-align:left; font-size:15px; font-weight:bold; color:#005596; border-bottom:1px solid gray;"> Sales Quotation Items </div>
        <br>

        <table id="myTable" style="text-align:right; border-bottom:1px solid gray">
          <tr style="background:lightgray; font-size:12px; font-weight:bold;">
            <th style="text-align:left">S.No.</th>
            <th colspan="2" style="text-align:left" >Item Code</th> 
            <th colspan="4" style="text-align:left">Description</th>
            <th colspan="1" style="text-align:right">Qty</th>
            <th colspan="2" style="text-align:right">Price</th>
            <th colspan="2" style="text-align:right">Discount</th>
            <th colspan="2" style="text-align:right">Total</th>
          </tr>
          {% for obj in quotAddi %}
            {% if forloop.counter >= 30 and forloop.counter <= 45 %}
              <tr>
                <td style="text-align:left">{{ obj.sno }}<br></td>
                <td colspan="2" style="text-align:left">{{ obj.itmCod }}</td>
                <td colspan="4" style="text-align:left">{{ obj.desc }}</td>
                <td colspan="1">{{ obj.qty|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.price|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.disc|floatformat:0|intcomma }}</td>
                <td colspan="2">{{ obj.tot|floatformat:0|intcomma }}</td> 
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        <span>Page - 3 </span>
      {% endif %}


      <br><br>
      <!--=== INVOICE TOTAL ============================================-->  
      <table style="width:100%; padding:2px;">
          <tr>
              <th colspan="3" style="text-align:left;"> </th>
              <th colspan="2" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> Total Before Discount : AED </th>
              <th colspan="1" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> {{ quotBasi.0.qotTBD|floatformat:0|intcomma }}  </th>
          </tr>
          <tr>
              <th colspan="3" style="text-align:left;"> </th>
              <th colspan="2" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> Total After Discount : AED </th>
              <th colspan="1" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> {{quotBasi.0.qotTAD|floatformat:0|intcomma}} </th>
          </tr>
          <tr>
              <th colspan="3" style="text-align:left;"> </th>
              <th colspan="2" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> Total Tax Amount : AED </th>
              <th colspan="1" style=" text-align:right; font-size:12px; font-weight:100px; color:#005596"> {{quotBasi.0.qotTax|floatformat:0|intcomma}} </th>
          </tr>
          <tr>
              <th colspan="3" style="text-align:left;"> </th>
              <th colspan="2" style=" text-align:right; font-size:13px; font-weight:100px; color:#005596"> Total After Tax : AED </th>
              <th colspan="1" style=" text-align:right; font-size:13px; font-weight:100px; color:#005596"> {{quotBasi.0.qotTAT|floatformat:0|intcomma}} </th>
          </tr>
      </table>

      <br><br>
      <div style=" text-align:left; font-size:15px; font-weight:bold; color:#005596; border-bottom:1px solid gray;"> Quotation Delivery Details </div>
      <br>
      
      

      <table style="width:100%; padding:2px;">

          <tr>
              <th colspan="2"  style="text-align:left; font-size:12px;"> Ship To </th>
              <th style="text-align:left;"> </th>
              <th colspan="3" style="text-align:right; font-size:12px;"> Comments</th>
          </tr>

          <tr>
              <th colspan="2"  style=" border: 0.5px solid gray; text-align:left; font-size:12px; font-weight:100px;"> {{quotBasi.0.shipTo}} </th>
              <th style="text-align:left;"> <br><br><br><br><br> </th>
              <th colspan="3" style=" border: 0.5px solid gray; text-align:left; font-size:12px; font-weight:100px;background:#f5f3f2"> {{quotBasi.0.qotComm}}</th>
          </tr>

          <tr> <th> </th> </tr>
          <tr> <th> </th> </tr>

          <tr> <th colspan="5" style="text-align:left; font-size:15px; font-weight:bold; color:#005596;"> Contect Person: 
                  <span style="font-size:13px; font-weight:100; color:black;"> {{quotBasi.0.spName}} </span>
                  <span style="font-size:13px; font-weight:100; color:black;">>> enquiry@ecolab.com </span>
                  <span style="font-size:13px; font-weight:100; color:black;">>> +971 50 4681561 </span>
              </th> 
          </tr>
      </table>


    <!--==========Data from JavaScript===================================-->
      <!--
      <p  style=" text-align:left; font-size:12px">  Total Before Discount: <span style="font-weight:100" id="TBD"> </span></p>
      <p  style=" text-align:left; font-size:12px">  Amount of Tax: <span style="font-weight:100" id="Tax"> </span></p>
      <p  style=" text-align:left; font-size:12px">  Quotation Date: <span style="font-weight:100" id="Dat"> </span></p>
      <script>
          //Javascript is not working for PDF.....................
          let nnn ={{quotBasi|safe}}
          console.log(nnn)
          document.getElementById("TBD").innerHTML = nnn[0].qotTBD.toLocaleString('en', {minimumFractionDigits: 0, maximumFractionDigits: 0,});
          document.getElementById("Tax").innerHTML = nnn[0].qotTAT.toLocaleString('en', {minimumFractionDigits: 0, maximumFractionDigits: 0,});
          document.getElementById("Dat").innerHTML = nnn[0].qotDat.toLocaleString('en', {minimumFractionDigits: 0, maximumFractionDigits: 0,});
      </script>
      --> 
    <!--==========Data from JavaScript===================================-->
  </body>
</html>